@page "/Register"

<h3>Registar Nuevo Usuario</h3>

<EditForm Model="userDTO" OnValidSubmit="CreateUserAsync">
	<DataAnnotationsValidator />
	<div class="row">
		<div class="col-6">
			<div class="mb-3">
				<label>Nombres:</label>
				<div>
					<InputText class="form-control" @bind-Value="@userDTO.FirstName" />
					<ValidationMessage For="(() => userDTO.FirstName)" />
				</div>
			</div>

		</div>
		<div class="col-6">

		</div>
	</div>

</EditForm>


