@page "/"
<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
	<Authorized>
		<p>estas autenticado, @context.User.Identity?.Name</p>
	</Authorized>
	<NotAuthorized>
		<p>no estas autorizado</p>
	</NotAuthorized>
</AuthorizeView> 